body{
    background-color:#735D35 ;
    color:aliceblue;
    font-family: arial, sans-serif;
    margin: 0;
}
header{
    background-color: #4A340D;
    color:aliceblue;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}
h2 {
    color:aliceblue
}
p{
    font-size: 18px;
    line-height: 1.6;
}
nav {
    margin-top: 20px;
}
nav a {color: #4A340D;
text-decoration: none;
background-color:#735D35;
 padding: 10px 15px; 
 border-radius: 8px:
  margin: 5px;
display : inline-block;
}

nav a:hover {
    background-color:#9c7d46;
}

main{
    width: 80%;
    margin: auto;
}
section {
    background-color:#c28010;
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}
img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}
figcaption {
    text-align: center;
    font-size: 14px;
    color:#f8f8f7;
    margin-top: 8px;
}
.card { 
    background-color:#735D35
padding: 15px;
 margin: 15px 0;
  border-left: 6px solid #6b2d5c ;
   border-radius: 10px;
}

.card h3{
    margin-top: 0;
}
footer {
    background-color: #524735;
     color: white; 
     text-align:center;
padding: 20px; 
margin-top: 30px;
}
